<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fd9771">  <td>17/03/18 15:54:29</td>   <td>0</td> <td title="&lt;&lt;Tes2$Zadatak1.afterTest()[pri:0, instance:Ispit.Tes2$Zadatak1@5ae9a829]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="fd9771">  <td>17/03/18 15:54:10</td>   <td>-18312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tes2$Zadatak1.login()[pri:0, instance:Ispit.Tes2$Zadatak1@5ae9a829]">login</td> 
  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="fd9771">  <td>17/03/18 15:54:10</td>   <td>-18368</td> <td>&nbsp;</td><td title="&gt;&gt;Tes2$Zadatak1.setupPages()[pri:0, instance:Ispit.Tes2$Zadatak1@5ae9a829]">&gt;&gt;setupPages</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="fd9771">  <td>17/03/18 15:54:04</td>   <td>-24923</td> <td title="&gt;&gt;Tes2$Zadatak1.setupSelenium()[pri:0, instance:Ispit.Tes2$Zadatak1@5ae9a829]">&gt;&gt;setupSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
</table>
